/frontend/node_modules
/node_modules
/frontend/.env
/mobile/node_modules
/mobile/.expo/
/mobile/npm-debug.*
/mobile/*.jks
/mobile/*.p8
/mobile/*.p12
/mobile/*.key
/mobile/*.mobileprovision
/mobile/*.orig.*
/mobile/web-build/
.env

# macOS
/mobile/.DS_Store
