.cardArticle {
   height: 500px;
   width: 30%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.containerArticles {
   display: flex;
   flex-wrap: wrap;
   margin: 0px 3rem;
   justify-content: space-around;
}

.imgArticle {
   width: 100%;
   background-position: center;
   height: 14rem;
   background-size: cover;
}

.priceArticle {
   display: flex;
}
