* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  text-align: center;
}

.cardArticle {
   height: 500px;
   width: 30%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.body {
  background-position: center;
  background-size: cover;
}
header {
  width: 100%;
  background-color: transparent;
}
footer {
  width: 100%;
  height: 50px;
  background-color: transparent;
  color: white
}
.hero {
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-position: bottom;
  background-size: cover;
  margin-bottom: 20px;
  padding: 0px 10vw;
}
.heroDescription {
  text-align: left;
}
button {
  padding: 5px 10px;
  border-radius: 50px;
  border: none;
  margin-top: 20px;
}
.wanted {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 220px;
  justify-content: center;
}
.wantedCards {
  width: 100%;
  height: 320px;
  margin-bottom: 50px;
  background-position: center;
  background-size: cover;
}
main h2 {
  color: white;
}
.cube {
background-position: center;
  background-size: cover;
  height: 400px;
  width: 400px;
}

/* SEBA: Sign UP */

.headerLogo {
  height: 10vh;
  background-color: #8646d4;
  border-bottom: 1px solid #3022428f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3vmin;
}

.main-sign {
  /* background-color: aquamarine; */
  margin: 5vh 35%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3vmin;
}

.buttonGoogle {
  height: 40px;
}

.signupEmailOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signupEmailOption div {
  width: 30%;
  height: 1px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  /* margin: 3vmin 0; */
}

.inputContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.main-sign input {
  height: 40px;
  padding-left: 1vmin;
  outline: none;
  border: 1px solid rgba(1, 1, 1, 0.3);
  border-radius: 3px;
}

.main-sign label {
  color: rgba(1, 1, 1, 0.8);
}

.signinButtonSignup {
  font-weight: 500;
  color: rgba(1, 1, 1, 0.8);
  border: 1px solid rgba(1, 1, 1, 0.3);
}

.signupButtonSignup,
.signinButtonSignup {
  font-size: 3vmin;
  border-radius: 3px;
  height: 50px;
}

.signupButtonSignup {
  background-color: #8646d4;
  border: none;
  color: white;
  font-weight: bold;
}

/*Pagina Articulos*/

.containerArticles {
   display: flex;
   flex-wrap: wrap;
   margin: 0px 3rem;
   justify-content: space-around;
}

.imgArticle {
   width: 100%;
   background-position: center;
   height: 14rem;
   background-size: cover;
}

.priceArticle {
   display: flex;
}
