* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  text-align: center;
}

/* HEADER */

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
}
#mainNav .navbar-brand {
  font-weight: 600;
  color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: #666363;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.75rem 0;
}
#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
  color: #f43ad5;
}
#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #f046cb !important;
}

#navLogo {
  font-family: "Fredoka One", cursive;
  font-size: 2rem;
}
@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.9);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-shrink {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f4623a;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #f4623a;
  }
}

.containerLogoUser {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoUser {
  background-position: center;
  width: 2.3em;
  height: 2.3em;
  background-size: cover;
  border-radius: 100%;
  margin-right: 15px;
}

/* ESTILOS */

.body {
  background-position: center;
  background-size: cover;
}
header {
  width: 100%;
  background-color: transparent;
}
footer {
  width: 100%;
  height: 50px;
  background-color: transparent;
  color: white;
}
.hero {
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-position: bottom;
  background-size: cover;
  margin-bottom: 20px;
  padding: 0px 10vw;
}
.heroDescription {
  text-align: left;
}
#welcome {
  font-weight: 700;
  font-size: 45px;
}
.heroDescription button {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  font-weight: 700;
  color: #D12A74;
  margin-top: 10px;
}
.logo {
  font-family: "Fredoka One", cursive;
  font-size: 3.5rem;
}

.logoNav {
  width: 150px;
  height: 40px;
  /* background-position: center;
   background-size: cover; */
}

main h2 {
  color: white;
}
.cube {
  background-position: center;
  background-size: cover;
  height: 530px;
  width: 530px;
  margin-bottom: 60px;
}

/* SEBA: Sign UP */

.flex,
.headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLogo {
  height: 10vh;
  /* background-color: #8646d4; */
  border-bottom: 1px solid #3022428f;
  color: white;
  font-size: 3vmin;
}

.main-sign {
  width: 35%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3vmin;
  margin: 4vh 0;
}

.main-sign h2 {
  font-size: 6vmin;
  font-weight: 600;
  text-align: center;
  color: white;
}

.main-sign h2 + p {
  text-align: start;
  color: white;
}

.errorSign {
  color: #de4a34;
}

.buttonGoogle {
  height: 50px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-size: 2.5vmin;
  display: flex;
  align-items: center;
  padding: 0 2vmin;
}

.buttonGoogle p {
  width: 100%;
  margin-left: 16.5vmin;
  margin-bottom: 0;
}

.signupEmailOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.2vmin;
  color: white;
}

.signupEmailOption p {
  margin: 0 3vmin;
}

.signupEmailOption div {
  flex: 1;
  height: 1px;
  border-bottom: 1px solid white;
}

.inputContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.main-sign input {
  height: 40px;
  padding-left: 1vmin;
  outline: none;
  border: 1px solid white;
  border-radius: 3px;
}

.main-sign label {
  color: white;
  text-align: start;
  font-size: 2.3vmin;
  margin-bottom: 0.5vmin;
  font-weight: bolder;
  letter-spacing: 1px;
}

.adTerms {
  font-size: 1.8vmin;
  color: white;
}

.signupButtonSignup,
.signinButtonSignup {
  width: 100%;
  font-size: 2.5vmin;
  border-radius: 3px;
  height: 50px;
  font-weight: 600;
  cursor: pointer;
}
.signinButtonSignupText {
  text-align: center;
  font-weight: bold;
  font-size: 2.5vmin;
}

.signinButtonSignup,
.signinButtonSignupText {
  color: white;
}

.signinButtonSignupText span,
h2 span {
  color: #67f2cb;
}

.signupButtonSignup {
  border: none;
  color: white;
}
.signUpBody,
.signInBody {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accountLink {
  text-decoration: none;
}
.signNoErrors,
.signErrors {
  margin-top: 0.5px;
  text-align: center;
  font-size: 2vmin;
  letter-spacing: 2px;
  margin-bottom: -0.5em;
}
.main-sign input {
  padding: 1em;
  height: 3em;
}

.signNoErrors {
  color: transparent;
}

.signErrors {
  color: red;
}
/*Pagina Articulos*/

.heroArticles {
  width: 100%;
  height: 20vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-position: bottom;
  background-size: cover;
  margin-bottom: 20px;
  padding: 0px 10vw;
}
.containerArticles {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 3rem;
  justify-content: center;
  padding: 0vh 6vw;
  margin-top: 30px;
}
.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.search {
  padding: 10px;
}
.search label {
  color: white;
  text-align: start;
  font-size: 2vmin;
  margin-bottom: 0.5vmin;
  font-weight: bolder;
  letter-spacing: 1px;
  padding-right: 10px;
}

.search input {
  height: 40px;
  padding-left: 1vmin;
  outline: none;
  border: 1px solid white;
  border-radius: 3px;
}

.bodyArticles {
  text-align: center;
}
.bodyArticles h2 {
  color: white;
  font-size: 6vmin;
  font-weight: 600;
  text-align: center;
  color: white;
}
.cardArticle {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  margin: 35px 28px;
  border-radius: 12px;
  background-position: bottom left;
  background-size: cover;
}

.photosArticle {
  background-position: center;
  background-size: cover;
  min-height: 250px;
  width: 285px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  bottom: 40px;
  border-radius: 20px;
  padding: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.price {
  text-align: center;
  margin-top: 10px;
}
.priceArticle {
  display: flex;
  justify-content: center;
}
.gameInfo {
  position: relative;
  bottom: 40px;
  color: gray;
}

.iconsNav {
  color: rgba(216, 16, 133, 0.664);
  font-size: 22px;
  margin: 0px 10px;
  cursor: pointer;
}

.iconsNav:hover {
  color: rgb(216, 16, 133);
  font-size: 22px;
  margin-left: 10px;
  cursor: pointer;
}

.backFavArticle {
  display: flex;
  justify-content: space-between;
}
.title {
  display: flex;
  background-color: red;
}
.circleFav {
  background-color: rgb(223, 223, 223);
  border-radius: 100%;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.favArticle {
  font-size: 25px;
  color: rgba(155, 7, 93, 0.664);
  cursor: pointer;
}

.favArticle:hover {
  color: rgb(247, 51, 165);
}

.gameDetails {
  text-align: start;
  width: 230px;
}

.buyLine {
  display: flex;
  justify-content: space-between;
}

#buy {
  cursor: pointer;
  width: 40x;
  height: 40px;
}

/*Most Wanted*/

.mostWantedConteiner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mostWantedTittle {
  font-weight: 700;
  font-size: 45px;
}

.mostWantedCard {
  align-self: center;
  width: 80%;
  min-height: 60vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mostWantedGame {
  width: 36%;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: flex-end;
}

.mostWantedGameConteiner,
.mostWantedGameConteinerLeft {
  padding: 1rem;
  align-self: center;
  width: 90%;
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.mostWantedGameConteinerLeft {
  width: 80%;
}
.mostWantedGameBrand {
  margin: 1em;
  align-self: center;
  font-size: 7vmin;
  font-weight: bold;
  color: #120045;
}
/*Footer*/

.footerContainer {
  width: 100%;
  height: 69vh;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.socialMediaContainer {
  padding: 2em;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerRights {
  font-weight: bolder;
  word-spacing: 3px;
  letter-spacing: 0.5px;
  font-size: 2.5vmin;
  padding-bottom: 1em;
}

.footerInsta,
.footerFace,
.footerTwit {
  width: 3em;
}

/*Hero Pages*/
.heroPageCont {
  width: 100%;
  min-height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

/* ADMIN  */

.adminPanel {
  display: flex;
  flex-direction: column;
}

.adminPanelButton {
  padding: 20px 40px;
  margin: 10px 0px;
}

.containerArticlesAdmin {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 20vh;
}

.buttonsAdminArticles {
  width: 45vw;
  display: flex;
  justify-content: space-around;
}

.buttonsAdmin {
  margin-right: 10px;
}

th {
  color: white;
  font-size: 25px;
  width: 100%;
  min-height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

/* PANEL ADMIN */

.navbarPanelContainer {
  width: 20%;
  min-height: 100vh;
  background-color: #8165ff;
  padding: 0 2vmin;
  padding-top: 5vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemNavbarPanel {
  display: flex;
  color: white;
  font-weight: 700;
  padding: 1vmin 0;
  /* align-items: center; */
}

.itemNavbarPanel svg {
  width: 3.5vmin;
  height: 3.5vmin;
  margin: 0 2vmin;
  cursor: pointer;
}
.itemNavbarPanel p {
  cursor: pointer;
}

/* team panel admin seba */

.mainTeamPanel {
  width: 80%;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 3vmin;
  background-color: #faf9ff;
}

.userFoundTeam p {
  margin: 0;
}

.mainTeamPanel h2 {
  font-size: 5vmin;
  color: #3f323c;
  font-weight: bold;
}

.searchbarTeam {
  width: 50%;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.searchUserTeam input {
  width: 92%;
  height: 30px;
  padding: 0 2vmin;
  outline: none;
  border: none;
}

.searchbarTeam svg {
  background-color: rgba(0, 0, 0, 0.3);
  width: 8%;
  height: 100%;
  padding: 1vmin;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.userFoundTeam {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 1vmin;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 3vmin 0;
}

.userFoundTeam select {
  width: 100%;
  height: 4vmin;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 2vmin;
}

.userFoundTeam label {
  font-weight: lighter;
  font-size: 2.2vmin;
  margin: 0;
  padding: 0;
}

.userFoundTeam svg,
.saveTeam {
  height: 4vmin;
  /* width: 5vmin; */
  padding: 0.5vmin 1vmin;
  margin-left: 1vmin;
  cursor: pointer;
  color: white;
  background-color: green;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  margin-right: -2vmin;
}

.userFoundTeam p {
  font-weight: lighter;
  color: gray;
}

.userPicFoundTeam {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 15vh;
  height: 15vh;
  background-color: rgba(248, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
}

.detailsUserFound {
  flex: 1;
  margin: 0 2vmin;
  display: flex;
  gap: 3vmin;
  justify-content: space-between;
}

.userDontFoundTeam {
  width: 50%;
  height: 40px;
  padding: 0 2vmin;
  background-color: white;
  border-radius: 5px;
  margin-top: 1vmin;
  color: rgba(248, 0, 0, 0.3);
  border: 1px solid rgba(248, 0, 0, 0.3);
  display: flex;
  align-items: center;
}

.subtitleTeam {
  font-size: 4vmin;
  font-weight: bold;
  margin-top: 3vmin;
}

.cardsTeam {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2vmin;
}

.cardTeam {
  height: 37vh;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 10px rgba(105, 90, 205, 0.219);
}

.picCardTeam {
  width: 100%;
  height: 80%;
  background-color: #3f323c;
  border-radius: 5px 5px 0 0;
  background-size: cover;
  background-position: center;
  padding: 1vmin;
  display: flex;
  justify-content: flex-end;
}

.detailsCardTeam {
  padding: 1vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detailsCardTeam p {
  font-weight: bold;
  margin: 0;
  margin-bottom: -1.5vmin;
}

.detailsCardTeam span {
  font-size: 2vmin;
}

/* Article Page */

.bodyArticle {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.articleData {
  align-self: center;
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.articlePhoto {
  width: 40%;
  height: 50vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.articleName p {
  font-size: 6vmin;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -3px;
  color: #16054b;
}

.articleDecoUp,
.articleDecoDown {
  padding-left: 5em;
  display: flex;
}

.articleDescription {
  align-self: center;
  width: 40%;
  text-align: justify;
  color: gray;
  font-weight: bold;
  font-size: 3.5vmin;
  letter-spacing: 1px;
}
.articleDeco {
  width: 20%;
  height: 25vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.articleDecoRight {
  padding-right: 5em;
  display: flex;
  justify-content: flex-end;
}




/*Article Related */

.articleRelatedTittle{
  margin-left: 3rem;
  margin-top: 1em;
  font-weight: bold;
  letter-spacing: -1px;
  color: #16054b;
  font-size: 5vmin;

}

.relatedArticles{
  padding: 3rem;
  width: 80%;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardArticleRelated{
  width: 320px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-position: bottom;
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.photosArticleRelated{
  background-position: center;
  background-size: cover;
  min-height: 250px;
  width: 285px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 15px;
}

.buyLineRelated{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
